.movie_heading {
    background-color: rgb(232, 224, 240);
    background-blend-mode: color-dodge;
    text-align: center;
    letter-spacing: 3px;
    padding: 30px;
    font-family: fantasy;
    font-size: 18px;
    font-weight: 500;
    color: rgb(50, 179, 179);
    margin-bottom: 30px;
    font-size: 2rem;
}

.movie_card {
    padding: 10px;
    background-color: burlywood;
    box-sizing: content-box;
    width: 10cm;
    border-radius: 10px;
    margin: 10px;
}

.poster_img {
    height: 8cm;
    width: 6cm;
    box-sizing: border-box;
    border-radius: 8px;
}

.movie_card_container {
    height: 9cm;
    width: min-content;
}