
.movie_heading {
    background-color: rgb(232, 224, 240);
    background-blend-mode: color-dodge;
    text-align: center;
    letter-spacing: 3px;
    padding: 30px;
    font-family: fantasy;
    font-size: 18px;
    font-weight: 500;
    color: rgb(50, 179, 179);
    margin-bottom: 30px;
    font-size: 2rem;
}

.movie_card {
    padding: 10px;
    background-color: black;
    box-sizing: content-box;
    width: max-content;
    border-radius: 20px;
    margin: 10px;
}

.poster_img {
    height: 8cm;
    width: 6cm;
    box-sizing: border-box;
    border-radius: 8px;
}

.card_info {
    font-family: 'Texturina', serif;
    color: crimson;
    font-size: 17px;
    background-color: inherit;
    
}