.App {
  text-align: center;
}

.App-header {
  background-color: #2c5ed48c;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(236, 236, 236);
}
.App-body {
  background-color: #eccb0cab;
  min-height: 90vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

